@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

ion-content {
  // --ion-background-color:rgb(17,231,244,100);
  // --ion-background-color: linear-gradient(180deg, rgba(17,231,244,100) 0%, rgba(17,121,244,100) 60%, rgba(100,17,244,100) 80%);
  --background: url("../../assets/img/fixbg1.jpg") no-repeat center/cover fixed;
  margin-top: -50px;
  ;
}



.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}

ion-item {
  // --background: url("../../assets/img/fixbg1.jpg")no-repeat center/cover fixed;

  margin-top: 5%;
}

ion-button {
  font-size: 18px;
}

* {
  font-family: 'Itim', cursive;
}

.font {
  font-size: 17px;
  font-family: 'Itim', cursive;
  color: black;
  // margin-top: 110%;
  // padding: 10%;
}

.font2 {
  font-size: 17px;
  font-family: 'Itim', cursive;
  color: black;
  // margin-top: 110%;
  // padding: 10%;
}


.color1 {
  background-color: blueviolet;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

h5 {
  text-align: center;
}

ion-slide {
  height: auto;
  width: auto;
}

.row1 {
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: rgb(243, 161, 161);
}

.row2 {
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: rgb(241, 250, 165);
}

// -------------------------------------------


.buttom {
  // font-size: 15px;
  // font-family: 'Itim', cursive;
  padding: 5%;
}

.header-bg {
  height: 120px;
  width: 110%;
  background: #f799ff;
  box-shadow: 0px 1px 10px #5b4046;
  // transform: rotate(-8deg);
  // border-radius: 50px 10px 10px 50px;
  border-radius: 30%;
  margin-left: -18px;
  margin-top: -20px;
  margin-bottom: 15px
}

.content {
  position: absolute;
  margin-left: 30%;
  padding-bottom: 20%;
  // top: 30px;
  left: 40px;
  display: flex;
}

.text {
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 0px 1px 10px #aaaaaa;
}

ion-col {
  text-align: center;
}

.row9 {
  margin-top: -100px;
}
